*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/assets/img/Path5044.png);
    background-repeat: no-repeat;
    background-size: 47% auto;
    background-position: top right;
}

/* navbar */
a{
    color:#2c363f;
}

.navbar-brand{
    font-size: 1.5rem;
    font-weight: 700;
}
.logo-text{
    color: #F7991C;
}

.nav-link{
    font-size: 1.1rem;
    font-weight: 400;
}

.nav-link:hover{
    border-bottom: 2px solid #159263;
    color:#F7991C ;
}

.hero-content{
    margin-top: 2rem;
    animation-name: sildeFromLeft;
    animation-duration: 2s;
}

.hero-content h1{
    font-weight: 900;
    font-size: 3rem;
    color:  #159263;
}

.hero-content h3{
    font-weight: 700;
    color:  #F7991C;
}
.heroimg{
    animation-name: sildeFromRight;
    animation-duration: 3s;
}

.social-icons-hero{
    animation-name: sildeFromLeft;
    animation-duration: 4s;
}


/* features */

#img-box{
    position: relative;
}
.features{
    height: 40rem;
    background:linear-gradient(to right bottom, #1592628a, #f7981c93 );
}
.features h2{
    color:#06744a ;
    animation-name: sildeFromRight;
    animation-duration: 2s;
}

#img-box img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.small{
    transition: .5s;
    width: 50%;
    height: 60%;
    left: 20%;
    top: 19%;
    position: absolute;
    transform: perspective(600px) rotateX(-1.98deg) rotateY(29.99deg) scale3d(1,1,1);
}

.imageList{
    width: 30%;
    right: 4%;
    top: 32%;
    position: absolute;
    font-size: 22px;
}

.imageList ul{
    left: 30%;
    top: 42rem;
    position: absolute;
}

.imageList ul li{
    cursor: pointer;
    list-style: none;
    color: black;
    margin: 20px 0;
    z-index: 455;
}

.shadow1{
    position: absolute;
    top: 10%;
    left: -6%;
    width: 40%;
    height: 80%;
    background: rgba(255, 255, 255, 0.6);
}


.shadow2{
    position: absolute;
    top: 16%;
    left: -11%;
    width: 30%;
    height: 68%;
    background: rgba(255, 255, 255, 0.3);
}

.btnBox{
    z-index: 10000;
    position: absolute;
    right: 3%;
    top: 47rem;
    cursor: pointer;
    font-size: 30px;
}

.full{
    transition: .5s;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    transform: perspective(0) rotateX(0deg) rotateY(0deg) scale3d(1,1,1);
    z-index: 200;
}







/* app features section */

.icons .rect {
    
    background: #F7991C;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    margin-right: 8rem !important;
    margin: 1rem; 
}

.ico{
    margin-top: 5.6px;
    color: white;
}

.icons .rect > p {
    color: white;
    margin-top: 1rem;
}

.app-features{
    background-color: #159263;
    height: 16rem;
}
.features-name{
    color: white;
    font-weight: 900;
    font-size: 2rem;
}

/* icon2 */
.icon2 .rect{
    display: none;
}

.icon2 .rect {
    background: white;
    width: 10rem;
    height: 8rem;
    margin: 1rem;
    border-radius: 0.5em;
}

.rect p{
    margin-top: 1rem;
}
.ico2{
    margin-top: 1.5rem;
}



section .contentBx{
    position: relative;
    max-width: 600px;
    z-index: 300;
    animation-name: sildeFromLeft;
    animation-duration: 2s;
}


@keyframes sildeFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translate(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes sildeFromRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translate(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

section .contentBx h2 {
    font-size: 60px;
    color: black;
    text-transform: uppercase; 
}

section .contentBx p {
    font-size: 18px;
    color: black;
}

section .contentBx .countdown{
    display: flex;
    margin: 20px 0;
}

section .contentBx .countdown .time{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background: #F7991C ;
    margin-right: 20px;
    font-size: 48px;
    min-width: 110px;
    font-weight: 700;
    padding: 10px 5px 15px;
    border-radius: 4px;
    color: #fff;
}

section .contentBx .countdown .time span {
    margin-top: -10px;
    font-size: 20px;
    font-weight: 600;
    color: #322747;
}

section .contentBx a {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    background: #F7991C;
    color: rgba(255, 255, 255, 0.753);
    font-size: 20px;
    letter-spacing: 2px;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 40px;
}

section .imgBx img{
    position: relative;
    max-width: 500px;
    width: 80%;
    margin-top: 150px;
    left: 13rem;
    z-index: 4;
    transform: rotate(-20deg);
    animation-name: sildeFromRight;
    animation-duration: 2s;
}


.newsletter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: #fff;
    padding: 60px;
z-index: 40000;
    box-shadow: 0 0 0 100vh rgba(49,39,71,0.95);
    visibility: hidden;
    opacity: 0;
    transition: .8s;
}

.newsletter.active{
    visibility: visible;
    opacity: 1;
}

.newsletter h2{
    font-size: 48px;
    color: #312747;
}

.newsletter p{
    font-size: 20px;
    color: #312747;
}

.newsletter .inputBox{
    margin-top: 20px;
}

.newsletter .inputBox input{
    padding: 10px;
    outline: none;
    width: 300px;
    font-size: 18px;
    border: 1px solid #999;
}

.newsletter .inputBox input[type="submit"]{
    padding: 10px;
    outline: none;
    width: 140px;
    color: #fff;
    background: #F7991C;
    border: 1px solid #F7991C;
    letter-spacing: 2px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
}

.newsletter .close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.outlier2{
    width: 80%;
    position: relative;
    top:-2rem;
    animation-name: sildeFromLeft;
    animation-duration: 2s;
}




/* footer */

footer{
    background: #06744a;
    overflow-x: hidden;
    padding: 7vmin 18vmin;
}


footer input{
    border: none !important;
}


footer .column i{
    color: #F7991C;
}

/* adjacent sibling combinator */

footer .column i + i {
    padding: 0 0.2em;
}








